// _colors.scss

$snappi-red:            #D01F40;
$snappi-darkred:        #711124;
$snappi-orange:         #F16122;
$snappi-yellow:         #FDF9D0;
$snappi-darkblue:       #152437;   
$snappi-peach:          #E9C1C1;