@import 'colors';
@import 'responsive';

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}


body {
  background-color: $snappi-yellow;
}

header .container > * {
  @include respondto(phone, tablet-portrait) {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  color: white;
  ul.nav {
    li.active {
      color: white;
    }
  }
}

.sidebar-menu.nav {
  li:hover > a {
    border-right: 1px solid $snappi-darkred;
  }
  > li.active > a {
    border-right: 2px solid $snappi-darkred;
  }
  .nav {
    /* nested .nav */
    padding-left: 10px;
  }
  .nav {
    /* display:none; means only one .nav .nav open at a time */
    display: none; 
     li.active > a {
      border-right: 1px solid $snappi-darkred;
      display: block;
    }
  }
  .active .nav {
    display: block
  }
}

header.navbar .aside .aside-dialog {
  .aside-header {
    @include copy-light-on-dark;
  }
  .aside-body {
    .sidebar-menu {

    }
  }
}

.bs-sidebar.affix {
   width: percentage(2 / 12);
   padding-right: 3.8%;
}

.nav {
  &.affix {

  }

  &.affix-top {

  }

  &.affix-bottom {

  }
}