@import 'colors';
@import 'responsive';
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}


body {
  background-color: $snappi-yellow;
  padding-top: 0;
}

header .container > * {
  @include respondto(phone, tablet-portrait) {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  color: white;
  ul.nav {
    li.active {
      color: white;
    }
  }
}

.sidebar-menu.nav {
  li:hover > a {
    border-right: 1px solid $snappi-darkred;
  }
  > li.active > a {
    border-right: 2px solid $snappi-darkred;
  }
  .nav {
    /* nested .nav */
    padding-left: 10px;
  }
  .nav {
    /* display:none; means only one .nav .nav open at a time */
    display: none; 
     li.active > a {
      border-right: 1px solid $snappi-darkred;
      display: block;
    }
  }
  .active .nav {
    display: block
  }
}

header.navbar .aside .aside-dialog {
  .aside-header {
    @include copy-light-on-dark;
  }
  .aside-body {
    .sidebar-menu {

    }
  }
}

.bs-sidebar.affix {
   width: percentage(2 / 12);
   padding-right: 3.8%;
}

.section-header.panel {
  background-color: none;
  border-color: $snappi-darkblue;
  z-index: 10;
  .panel-heading, .panel-footer {
    color: $snappi-yellow;
    background-color: $snappi-darkblue;
  }
  .panel-body {
    background-color: white;
  }
  .panel-footer i.pull-down {
    padding: 0 8px;
    display: none;
  }
}

#calendar, #date {
  .panel .panel-heading {
    position: relative;
    .btn-group.pushright {
      position: absolute;
      right: 15px;
      top: 4px;
    }
  }
}

#calendar {
  .fa-calendar.disabled {
    color: lightgrey;
  }
  .dropdown-menu.datepicker {
    position: static;
    margin-bottom: 10px;

  }
  .datepicker.dropdown-menu button {
    outline: 0;
    border: 0;
  }
}



#date, #timeline {
  .section-header.panel {
    /* bs-affix styling not working */
    &.affix {
      background-color: transparent;
      position: fixed;
      top: -145px;
      .panel-heading, .panel-footer {
        background-color: rgba($snappi-darkblue, 0.7);
        .pull-down {
          display: block;
        }
      }
      .panel-heading, .panel-body {
        height: 41px;
      }
    }
  }
  .otg-moment, .camera-roll-moment {
    > .list-group-item {
      padding: 0;
    }
    .camera-roll-date {
      .btn.date {
        color: $snappi-yellow;
        background-color: $snappi-darkblue;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; 
        .day {
          color: white;
          font-size: 1.2em;
          font-weight: bold;
        }
        &.selected {
          color: $snappi-red;
        }
      }
      li {
        padding: 0;
        img {
          border: 1px solid transparent;
          background-color: lightgray
        }
      }
    }
  } 
}

.col-md-10 #date .otg-moment .camera-roll-date .btn.date {
  height: 72px;
}


/*from apphappi timeline */

$font-size-mini:   10px;  //      ceil(($font-size-base * 0.75));
otg-gallery > ul {
  position: relative;
  width:320px;
  li {
    height: 240px;
  }
}
.thumb {
  width: 100%;
  position: relative;
  margin: 4px auto;
  &, &.crop-wrap {
    width:100%;
    height:auto;  
  }

  &.fade {
    transition-duration: 0.5s;
    transition-timing-property: ease-in-out;
  }

  .focus {
    box-shadow: 0 0 20px 10px red;
    outline: 1em solid rgba(255, 127, 0, 0.7);
    z-index: 100;
  }


  .flickrd & {    // for flickr style absolute positioning
    float: none;
    position: absolute;
  }
  
  .crop {
    display:block;
    position:relative;
    overflow:hidden;
    img {
      display:block;
      position:relative;
      margin: 0 !important;
      /* reset */
      max-width: none;
    }
  }
  
  .meta {
    background: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: $font-size-mini;
    line-height: 1.3;
    margin-top: 5px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-shadow: 1px 1px 0 black;
    @include transition( all .15s ease-in-out);
    > * {
      margin-left: 8px;
    }
    .title {
    }
    .owner {
    }
    .bottom-row {
      margin: 0 8px;
      position: relative;
      bottom: 0;
      height: 32px;
      line-height: 24px;
      overflow: hidden;
      .glow {
        color: yellow !important;
        font-size: 1.4em;
      }
    }
    .bottom-row.edit {
      height: 0;
      opacity: 0;
    }
    .inline-icons {
      display: inline-block;
      font-size: $font-size-large;
      line-height: inherit;
      margin: 2px 0;
      overflow: visible;
      opacity: 0.6;
      z-index: 50;
      > .btn-icon {
        margin-left: 3px;
        cursor: pointer;
        color: $snappi-yellow;   /* same as a:hover*/
        line-height: inherit;
        padding: 3px 6px;
        vertical-align: middle;
      }
      .rating {
        white-space: nowrap;
        > i {
          color: $snappi-yellow;
          vertical-align: middle;
        }
      }
      > .btn-icon:first-child {
        margin-left: 0;
      }
      &.left {
        float: left;
      }
      &.right {
        float: right;
        text-align: right;
      }
    }
    
    &:hover {   /* .meta:hover */
      .btn-icon:hover {
      }
      .bottom-row {
      }
      .inline-icons {
      }
    }
  }
}


.thumb.remove, .thumb.edit {
  .crop-wrap {
    opacity: 0.6;
    opacity: 0.6;
    background-color: white;
  }
  .meta {
    opacity: 1;
    background: rgba($snappi-darkblue,0.6);
    .bottom-row {
      opacity: 0;
      height: 0;
    }
    .bottom-row.edit {
      opacity: 1;
      height: 32px;
      .fa-trash-o {
        /*color: red;*/
      }
    }
  } 
}


/*
 * view=Thumbnail
 * .thumb = .photo
 * .photo_container_th = .crop-wrap
 * .photoLink = .crop
 */
.thumb-meta-hover {
  background: rgba($snappi-darkblue,0.6);
  opacity: 1;
  .btn-icon:hover {
    color: #FFF;
  }
}

.thumb .meta,
.thumb .meta:hover {
  @extend .thumb-meta-hover;
}


/* additional app overrides */
.thumb {
  .meta {
    color: #fff;
    .inline-icons {
    }
  }
}

/* ngAnimate Classes */
.thumb {
  &.ng-enter,
  &.ng-leave {
    @include transition(0.5s linear opacity);
/*    -moz-transition:0.5s linear opacity;
    -webkit-transition:0.5s linear opacity;
    transition:0.5s linear opacity;
*/  }
  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity:0;
  }
  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity:1;
  }
}