@import 'colors';
@import 'responsive';

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}


body {
  background-color: $snappi-yellow;
}

header .container > * {
  @include respondto(phone, tablet-portrait) {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  color: white;
  ul.nav {
    li.active {
      color: white;
    }
  }
}

.sidebar-menu.nav {
  li:hover > a {
    border-right: 1px solid $snappi-darkred;
  }
  > li.active > a {
    border-right: 2px solid $snappi-darkred;
  }
  .nav {
    /* nested .nav */
    padding-left: 10px;
  }
  .nav {
    /* display:none; means only one .nav .nav open at a time */
    display: none; 
     li.active > a {
      border-right: 1px solid $snappi-darkred;
      display: block;
    }
  }
  .active .nav {
    display: block
  }
}

header.navbar .aside .aside-dialog {
  .aside-header {
    @include copy-light-on-dark;
  }
  .aside-body {
    .sidebar-menu {

    }
  }
}

.bs-sidebar.affix {
   width: percentage(2 / 12);
   padding-right: 3.8%;
}

#calendar {
  .datepicker.dropdown-menu button {
    outline: 0;
    border: 0;
  }
}

#date {
  .section-header.panel {
    background-color: $snappi-darkblue;
    border-color: $snappi-darkblue;
    z-index: 10;
    .panel-heading, .panel-footer {
      color: $snappi-yellow;
    }
    .panel-body {
      background-color: white;
    }
    .panel-footer {
      display: none;
      i {
        padding: 2px 8px;
      }
    }
    /* bs-affix styling not working */
    &.affix {
      background-color: transparent;
      position: fixed;
      top: -145px;
      .panel-heading, .panel-footer {
        background-color: rgba($snappi-darkblue, 0.7);
      }
      .panel-heading, .panel-body {
        height: 41px;
      }
    }
  }
  .camera-roll-moment {
    > .list-group-item {
      padding: 0;
    }
    .camera-roll-date {
      .btn.date {
        color: $snappi-yellow;
        background-color: $snappi-darkblue;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; 
        .day {
          color: white;
          font-size: 1.2em;
          font-weight: bold;
        }
        &.selected {
          color: $snappi-red;
        }
      }
      li {
        padding: 0;
        img {
          border: 1px solid transparent;
          background-color: lightgray
        }
      }
    }
  } 
}