
<div id="date">
  <div class="section-header panel" >
    <div class="panel-heading">
      <h3 class="panel-title">Choose Days From Your Camera Roll</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
        <p>Choose days from your Camera Roll and we'll scan every photo taken on those days</p>
        </div>
        <div class="col-md-6">
        <button class="btn btn-info btn-lg" ng-click='goto("/calendar")'>Choose Days from a Calendar</button>
        </div>
      </div>
      <form name="dateDatepickerForm" class="form-inline" role="form">
      </form>
    </div>
    <div class="panel-footer center-block text-center">
      <i class="fa fa-chevron-down pull-down"></i>
    </div>
  </div>
  
  <div otg-model="cameraRollMoments" on-select="select" otg-moment></div>

</div>
