
<div id="date">
  <h4>Choose Days From Your Camera Roll</h4>
  <p>Choose days from your Camera Roll and we'll scan every photo taken on those days</p>
  <form name="dateDatepickerForm" class="form-inline" role="form">
    <ul class="list-group camera-roll-moment" ng-repeat="moment in cameraRollMoments" >
      <li class="list-group-item camera-roll-date"
      ng-repeat="(day, photos) in moment"
      >
        <ul class="list-inline">
          <button class="btn {{options.btnSize}} date" ng-click="select($event)">
            <div>{{day | date:'dd MMM'}}</div>
            <div class="day">{{day | date:'EEE'}}</div>
          </button>
          <li ng-repeat="photo in photos | limitTo:options.thumbnailLimit"><img ng-src="http://lorempixel.com/{{options.thumbnailSize}}/{{options.thumbnailSize}}?{{photo}}" title="Photo {{photo}}" 
          width="{{options.thumbnailSize}}" 
          height="{{options.thumbnailSize}}"></li>
          <li ng-show="{{photos.length > options.thumbnailLimit}}"><span class="badge pull-right">{{photos.length}}</span></li>
        </ul>
      </li>
    </ul>
  </form>

  <p>&nbsp;</p>
</div>
