 <div id="timeline">
  <div class="section-header panel" >
    <div class="panel-heading">
      <h3 class="panel-title"><i class="icon fa fa-picture-o"></i> Timeline 
      <button class='btn btn-xs btn-info pull-right' ng-show="{{showGallery}}" ng-click="goto('/timeline')">Back</button></h3>
    </div>
    <div class="panel-body">
      {{title}}
    </div>
    <div class="panel-footer center-block text-center">
      <i class="pull-down fa fa-chevron-down"></i>
    </div>
  </div>

  <div class="timeline gallery clearfix" on-touch="galleryGlow" paginate-deck="deck" perpage="10" lazyload="20" >
    <div class="prefer-fileurl" ng-repeat="photo in deck.paginatedCards()" ng-include="'views/_thumbnail.html'">
    </div>
  </div>

  <otg-moment otg-model="favoriteMoments" on-select="select"  ng-if="!showGallery"></otg-moment>
  <otg-gallery otg-model="moment" ng-if="showGallery"></otg-gallery>

</div> 

